* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    
}

.Btn_add {
    background-color: rgb(190, 98, 98);
    padding: 7px 10px ;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    width:100px ;
    text-align: center;
    margin-bottom:15px ;
}

.Btn_add i {
    margin-right: 5px;
}

.ajoutTab th {
    border-bottom: 2px solid;
    background: #e5e1ed;
    border-color: #c4cecb;
    color: #319767;
    text-align: center;
    padding: 4px 50px;
}

.ajoutTab td {
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid;
    background: whitesmoke;
    border-color: #e5e5e5;
    font-family: cursive;
    padding: 7px;
}

.ajoutTab td .delete {
    text-decoration: none;
    color: brown;
}

.ajoutTab td .update {
    text-decoration: none;
    color: rgb(32 49 169);
}

.form {
    width: 100vh;
    min-height: 50vh;
    background: #fafafa;
    border-radius: 8px;
    border: 1px solid #00f6ff;
    padding: 15px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form a {
    text-decoration: none;
    background: #89b1a6;
    display: flex;
    width:110px;
    padding: 5px 10px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4bfff9;
    border: 1px solid;
}

.form a i {
    padding: 0 5px;
}

.form form label {
    font-size: 17px;
    text-transform: capitalize;
    margin: 5px 0;
    font-family: monospace;
    color: #0b7753;
}

.form form .inputSUBMIT{
    width: 50%;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    color: #9b3f78;
    text-transform: uppercase;
    background: #bee7dc;
    font-weight: bold;
    letter-spacing: 1px;
}

.form form input {
    height: 30px;
    padding: 5px 3px;
}

.form form input:focus {
    border: none;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}


